extends layouts/LayoutTheme
include mixins/home/landing/HeroHeader
include mixins/home/landing/FlashDeals
include mixins/home/landing/Destination



append variables
  - var currentPage = 'index'

prepend scripts
  
append content
  +HeroHeader
  +FlashDeals
  +Destination
