extends layouts/LayoutTheme
include mixins/home/landing/HeroHeader
include mixins/home/landing/FlashDeals



append variables
  - var currentPage = 'index'

prepend scripts
  
append content
  +HeroHeader
  +FlashDeals
