mixin Cta 
  section
    +Background({ image: `${CWD}assets/img/gallery/cta-b.png`, attrs: { style: { 'background-position': 'center', 'background-size': 'cover',} }, className: '' })
    .container-fluid
      .row.flex-center
        .col-lg-5.text-center
          img.mb-5.mb-lg-0(src=`${CWD}assets/img/gallery/cta-mobile.png` alt='...')
        .col-lg-5.text-center
          h1.fs-6.pe-xxl-10 Get the app
          .mt-4.pe-xxl-10
            img.me-3(src=`${CWD}assets/img/gallery/google-play.png` alt='...')
            img(src=`${CWD}assets/img/gallery/app-store.png` alt='...')
            