mixin Destination
  +Section('container-fluid').py-7
    .row
      .col-md-6.px-0.py-6.bg-primary-gradient
        .text-light.w-50.align-self-end
          h1.text-light popular destinations 
          p Enjoy our pakages to the places our travellers enjoy the most. Affordable, yet enjoyable. For you, and your family.
