.input-group-icon{
  position: relative;
  .input-box{
    padding-left: 2.8rem;
    vertical-align: middle;
  }
  .input-box-icon{
    position: absolute;
    top:50%;
    left: 1rem;
    color:$gray-300;
    transform: translateY(-50%);
  }
}



/*-----------------------------------------------
|   textarea box
-----------------------------------------------*/
.input-group-text-icon{
  position: relative;
  .input-box{
    padding-left: 2.8rem;
    vertical-align: middle;
  }
  .input-box-text-icon{
    position: absolute;
    color: $gray-500;
    top:15%;
    left: 2rem;
    color:$gray-300;
    transform: translateY(-50%);
  }
}

// - form control control
//
// General form controls (plus a few specific high-level interventions)
//

.form-voyage-control {
  background-color: $white;
  background-clip: padding-box;
  border: 0 solid $input-border-color;
  border-bottom: 1px solid $gray-500;
  border-radius: 0;
  color: $gray-1000;
}

.form-voyage-select{
  color: $gray-1000;
  background-color: $white;
  border: 0 solid $form-select-border-color;
  border-bottom: 1px solid $gray-500;
  border-radius: 0; 
}
